{% extends "base.html" %}

{% block content %}

<main>
    <!-- Hero -->
    <div class="section-header pb-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-left mb-3 mt-4">
                    <h2>Pikachooze</h2>
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->

    <!-- Section -->
    <section class="section section-md">
        <div class="container mb-5">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="https://cdn.vox-cdn.com/thumbor/0KceZSeHOKG6AGfBZN6EopWM5Kc=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/22882538/Pokemon_UNITE___Team_Up._Take_Down.___Screenshot_1.png" alt="Pokemon Image">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left text-black">
                    <h2 class="h1 mb-5">Play Pokemon Smarter.</h2>
                    <p>A common complaint about games from the beloved Pokémon series is the learning curve. Novice and amateur players often feel overwhelmed by the type complexities within the game. There exist 18 types of pokemon in which each type is resistant, immune, or weak against various other types. Type matchups have a large impact on whether a player will be able to win against another player. Knowing what types are effective against others makes victory more attainable. With our project, we aim to streamline this typing system for new players, providing an intuitive interface to view when a trainer should use certain pokemon within their party, and offering recommendations against certain opponents. We hope that this application will help new players feel more comfortable taking on Pokémon games and give them a leg up against more experienced players.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    <div class="container">
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                <h2 class="h1 mb-4">Funny &amp; Creative Team</h2>
                <p class="lead">We have developed a multi-discipline portfolio as a team.</p>
            </div>
        </div>
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHwNzO_nW3zxw/profile-displayphoto-shrink_800_800/0/1565827303467?e=1642032000&v=beta&t=Il7oY4FpGvx4xTCF_fNEc1IxuNYixG240n1WRkguJhA" class="card-img-top rounded-top" alt="Aaron">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Aaron Chai</h3>
                        <span class="card-subtitle text-gray fw-normal">Duke '22</span>
                        <p class="card-text my-3">Favorite Pokemon: Charizard</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-gray-300">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGOvdsjviJqzg/profile-displayphoto-shrink_800_800/0/1549688498715?e=1642032000&v=beta&t=bzZobPsAmg0IOZHGlZ4iwyeVWtg81WOiJVdKXcaJKk8" class="card-img-top rounded-top" alt="Erik">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Erik Jia</h3>
                        <span class="card-subtitle text-gray fw-normal">Duke '22</span>
                        <p class="card-text my-3">Favorite Pokemon: Lapras</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQE4HjYLMU54jQ/profile-displayphoto-shrink_800_800/0/1604564919063?e=1642032000&v=beta&t=m7JdufOPK_ZuOh7H-hEeRn5HcHwiasObvAMp7M7NBQI" class="card-img-top rounded-top" alt="Ziyi">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Ziyi Yan</h3>
                        <span class="card-subtitle text-gray fw-normal">Duke '22</span>
                        <p class="card-text my-3">Favorite Pokemon: Togepi</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHXC5a-5DLxTA/profile-displayphoto-shrink_800_800/0/1576720247178?e=1642032000&v=beta&t=KZ1dAzPM8DKgRiZOvxg4UAPwXpg4QLzZZpupjYKHZNE" class="card-img-top rounded-top" alt="Tyler">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Tyler Jang</h3>
                        <span class="card-subtitle text-gray fw-normal">Duke '22</span>
                        <p class="card-text my-3">Favorite Pokemon: Luxio</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQFh_SrW43CtFQ/profile-displayphoto-shrink_800_800/0/1600182137621?e=1642032000&v=beta&t=cu4AV-XsDJOQ3dMzRZtUmxKU2TLp4SvPn2DCS5kNQd8" class="card-img-top rounded-top" alt="Michelle">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Michelle Mao</h3>
                        <span class="card-subtitle text-gray fw-normal">Duke '22</span>
                        <p class="card-text my-3">Favorite Pokemon: Piplup</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}