{% extends "base.html" %}

{% block content %}

<h1>Forgot</h1>
<div class="container left-force">
  <div class="row align-items-start">
    <div class="col">
        <p>This feature is not yet available. Check back again later!</p>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <!-- I added some features here that should be on dev. Make sure to update to include username/email/password/confirmpassword -->
  <p>
    {{ form.email.label }}<br/>
    {{ form.email(size=64) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
</div>
<div class="col">
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png" alt="Happy Togepi">
</div>
</div>
</div>

{% endblock %}
