{% extends "base.html" %}

{% include 'navbar.html' %}

{% block content %}

    <main>
        
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left">
                        <h2>Pikachooze</h2>
                        <h1>Inventory</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!--End of Title section-->
        <div class="section section-md">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrEpro86Nz9q6kBJfA4wDU9F5W0yQdeOIoSg&usqp=CAU" alt="Togepi" class="card-img-top rounded-top">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary btn-sm">Normal</a>
                                <span class="h6 icon-tertiary small"><span class="fas fa-medal me-2"></span>Lv. 71</span>
                                <h3 class="h5 card-title mt-3">Togepi</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock content %}