{% extends "base.html" %}

{% include 'navbar.html' %}

{% block content %}

    <main>
        
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left mb-3 mt-4">
                        <h2>Inventory</h2>
                        <h1>{{ pokemon.pokemon.name }}</h1>
                        <a class="btn btn-sm rock" style="opacity: 1" href="{{ url_for('index.pokemon', id=pokemon.tp_id) }}">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
    <section class="section section-md">
        <div class="container mb-5">
            <div class="row align-items-center justify-content-around">
                <form action="" method="post"></form>
                    {{ form.hidden_tag() }}
                    <div class="col-md-6 col-xl-4 text-center text-md-left text-black">
                        <img class="img-fluid" src="{{ pokemon.pokemon.pic }}" alt="Pikachu Image">
                    </div>
                
                    <div class="col-md-6 col-xl-4 mb-5" style="text-align: left">
                        <span class="h4 card-title mb-0">Name: </span> <span class="h5 card-title mb-0">{{ pokemon.pokemon.name }}</span> <br><br>
                        
                        <span class="h4 card-title mb-0">{{ form.nickname.label }} </span> 
                        <span class="h5 card-title mb-0">{{ form.nickname }} </span> 
                        {% for error in form.nickname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br><br>

                        <span class="h4 card-title mb-0">{{ form.level.label }} </span> 
                        <span class="h5 card-title mb-0">{{ form.level }} </span> 
                        {% for error in form.level.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br><br>

                        <span class="h4 card-title mb-0">Type: </span> 
                        <a class="btn disabled btn-sm {{pokemon.pokemon.type1.type_name}}" style="opacity: 1">{{pokemon.pokemon.type1.type_name.title()}}</a>
                        {% if pokemon.pokemon.type2 %}
                        <a class="btn disabled btn-sm {{pokemon.pokemon.type2.type_name}}" style="opacity: 1">{{pokemon.pokemon.type2.type_name.title()}}</a>
                        {% endif %} <br><br>

                        <span class="h4 card-title mb-0">Stats: </span><br><br>
                        <ul>
                            <span class="h5 card-title mb-0">{{ form.hp.label }}</span> <span class="h6 card-title mb-0">{{ form.hp }}</span> <br>
                            {% for error in form.hp.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}


                            <span class="h5 card-title mb-0">Attack: </span> <span class="h6 card-title mb-0">122</span> <br>
                            <span class="h5 card-title mb-0">Defense: </span> <span class="h6 card-title mb-0">122</span> <br>
                            <span class="h5 card-title mb-0">Speed: </span> <span class="h6 card-title mb-0">240</span> <br>
                            <span class="h5 card-title mb-0">Sp. Def: </span> <span class="h6 card-title mb-0">145</span> <br>
                            <span class="h5 card-title mb-0">Sp. Att: </span> <span class="h6 card-title mb-0">148</span> <br>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-5" style="text-align: left">
                        <span class="h4 card-title mb-0">Moves: </span> <br><br>
                        {% for move in moves%}
                        <div class="card shadow mb-3">
                            <div class = "row">
                                <div class="col-4 m-2">
                                    <span class="h5 card-title mb-0">{{move.move_name}}</span>
                                </div>
                                <div class="col-2 m-2">
                                    <a class="btn disabled btn-sm {{move.move_type.type_name}}" style="opacity: 1">{{move.move_type.type_name.title()}}</a>
                                </div>
                                <div class="col -0 m-2">
                                    <span class="h5 card-title mb-0">{{move.pp}} / {{move.pp}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <p>{{ form.submit(class_="btn btn-black") }}</p>
                </form>
            </div>
        </div>
    </section>
    <!-- End of section -->

    </main>

{% endblock content %}