{% extends "base.html" %}

{% include 'navbar.html' %}

{% block content %}

    <main>
        
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left mb-3 mt-4">
                        <h2>Pikachooze</h2>
                        <h1>Pikachu</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
    <section class="section section-md">
        <div class="container mb-5">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-4 text-center text-md-left text-black">
                    <img class="img-fluid" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c325.png" alt="Pikachu Image">
                </div>
                <div class="col-md-6 col-xl-4 mb-5" style="text-align: left">
                    <span class="h4 card-title mb-0">Name: </span> <span class="h5 card-title mb-0">Pikachu</span> <br><br>
                    <span class="h4 card-title mb-0">Nick Name: </span> <span class="h5 card-title mb-0">Pika</span> <br><br>
                    <span class="h4 card-title mb-0">Level: </span> <span class="h5 card-title mb-0">71</span> <br><br>
                    <span class="h4 card-title mb-0">Type: </span> <a class="btn disabled btn-sm electric"" style="opacity: 1">Electric</a> <br><br>
                    <span class="h4 card-title mb-0">Stats: </span><br><br>
                    <ul>
                        <span class="h5 card-title mb-0">HP: </span> <span class="h6 card-title mb-0">211</span> <br>
                        <span class="h5 card-title mb-0">Attack: </span> <span class="h6 card-title mb-0">122</span> <br>
                        <span class="h5 card-title mb-0">Defense: </span> <span class="h6 card-title mb-0">122</span> <br>
                        <span class="h5 card-title mb-0">Speed: </span> <span class="h6 card-title mb-0">240</span> <br>
                        <span class="h5 card-title mb-0">Sp. Def: </span> <span class="h6 card-title mb-0">145</span> <br>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-4 mb-5" style="text-align: left">
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    </main>

{% endblock content %}