{% extends "base.html" %}

{% block content %}

    <main>
        <script>
        // from https://stackoverflow.com/questions/16849117/html-how-to-do-a-confirmation-popup-to-a-submit-button-and-then-send-the-reque
        function clicked(e) {
            // if(!confirm('Are you sure?')) {
            //     e.preventDefault();
            // }
            let name = document.getElementById("mynamespan").textContent;
            if (confirm('Are you sure that you want to delete ' + name + '?')) {
                window.location.href = window.location.href.replace("pokemon", "delete");
            } else {
                return false;
            }
        }
        function evolve_clicked() {
            let to_id = document.getElementById("evolve_dropdown").value;
            if(to_id != "") {
                window.location.href = window.location.href.replace("pokemon", "evolve") + "/" + to_id;
            }
        }
        </script>
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left mb-3 mt-4">
                        <div class="row"><h2>Inventory</h2></div>
                        <div class="row" style="align-items: center;">
                            <h1>{{ pokemon.pokemon.name }}</h1>
                            <div class="ml-4">
                                {% if not pokemon.trainer.is_user %}
                                <a class="btn btn-light" style="opacity: 1" href="{{ url_for('index.leader_inventory', trainer=pokemon.trainer.name.replace(' ', '%20')) }}">Back to Inventory</a>
                                {% else %}
                                <a class="btn btn-light" style="opacity: 1" href="{{ url_for('index.inventory', id=pokemon.uuid) }}">Back to Inventory</a>
                                {% endif %}
                            </div>
                            {% if not read_only %}
                            <div class="ml-4">
                                <a class="btn btn-warning" style="opacity: 1" href="{{ url_for('index.pokemonedit', id=pokemon.uuid) }}">Edit</a>
                            </div>
                            <div class="ml-4">
                                <input type="submit" value="Delete" onclick="clicked(event)" />
                            </div>
                            {% if evolution|length > 0 %}
                            <div class="ml-4">
                                {% if evolution|length > 1 %}
                                <select id = "evolve_dropdown">
                                    <option value="" disabled selected>Evolve!</option>
                                    {% for e in evolution %}
                                        <option value = "{{ e.poke_id }}">{{ e.name }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                <a class="btn btn-warning" style="opacity: 1" href="{{ url_for('index.evolve', id=pokemon.uuid, to_id=evolution[0].poke_id) }}">Evolve!</a>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if devolution|length > 0 %}
                            <div class="ml-4">
                                <a class="btn btn-warning" style="opacity: 1" href="{{ url_for('index.devolve', id=pokemon.uuid, to_id=devolution[0].poke_id) }}">Devolve!</a>
                            </div>
                            {% endif %}
                            {% endif %}
                            <script>
                                $('#evolve_dropdown').on('change', function(){
                                    evolve_clicked();
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
    <section class="section section-md">
        <div class="container mb-5">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-4 text-center text-md-left text-black">
                    <img class="img-fluid" src="{{ pokemon.pokemon.pic }}" alt="Pikachu Image">
                </div>
                <div class="col-md-6 col-xl-4 mb-5" id="leftBox" style="text-align: left">
                    <span class="h4 card-title mb-0">Name: </span> <span class="h5 card-title mb-0">{{ pokemon.pokemon.name }}</span> <br><br>
                    <span class="h4 card-title mb-0">Nickname: </span> <span class="h5 card-title mb-0" id="mynamespan">{{ pokemon.nickname }}</span> <br><br>
                    <span class="h4 card-title mb-0">Gender: </span> <span class="h5 card-title mb-0">{{ pokemon.gender.name.title() }}</span> <br><br>
                    <span class="h4 card-title mb-0">Level: </span> <span class="h5 card-title mb-0">{{ pokemon.level }}</span> <br><br>
                    <span class="h4 card-title mb-0">Type: </span> 
                    <a class="btn disabled btn-sm {{pokemon.pokemon.type1.type_name}}" style="opacity: 1">{{pokemon.pokemon.type1.type_name.title()}}</a>
                    {% if pokemon.pokemon.type2 %}
                    <a class="btn disabled btn-sm {{pokemon.pokemon.type2.type_name}}" style="opacity: 1">{{pokemon.pokemon.type2.type_name.title()}}</a>
                    {% endif %} <br><br>
                    <span class="h4 card-title mb-0">Stats: </span><br><br>
                    <canvas id="myCanvas"></canvas>
                    <ul style="visibility: hidden;">
                        <span class="h5 card-title mb-0">HP: </span> <span class="h6 card-title mb-0" id="hp_stat">{{ stats["hp"] }}</span> <br>
                        <span class="h5 card-title mb-0">Attack: </span> <span class="h6 card-title mb-0" id="attack_stat">{{ stats["attack"] }}</span> <br>
                        <span class="h5 card-title mb-0">Defense: </span> <span class="h6 card-title mb-0" id="defense_stat">{{ stats["defense"] }}</span> <br>
                        <span class="h5 card-title mb-0">Sp. Att: </span> <span class="h6 card-title mb-0" id="sp_attack_stat">{{ stats["sp_attack"] }}</span> <br>
                        <span class="h5 card-title mb-0">Sp. Def: </span> <span class="h6 card-title mb-0" id="sp_defense_stat">{{ stats["sp_defense"] }}</span> <br>
                        <span class="h5 card-title mb-0">Speed: </span> <span class="h6 card-title mb-0" id="speed_stat">{{ stats["speed"] }}</span> <br>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-4 mb-5" style="text-align: left">
                    <span class="h4 card-title mb-0">Moves: </span> <br><br>
                    {% for move in moves%}
                    <div class="card shadow mb-3">
                        <div class = "row">
                            <div class="col-5 m-2">
                                <span class="h5 card-title mb-0">{{move.move_name}}</span>
                            </div>
                            <div class="col-2 m-2">
                                <a class="btn disabled btn-sm {{move.move_type.type_name}}" style="opacity: 1">{{move.move_type.type_name.title()}}</a>
                            </div>
                            <div class="col -0 m-2">
                                <span class="h5 card-title mb-0" style="float:right">{{move.pp}} / {{move.pp}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <script>
            var growth = 0;

            function getAlong(startX, startY, endX, endY, perc) {
                let newX = startX + (endX - startX) * perc;
                let newY = startY + (endY - startY) * perc;
                return [newX, newY];
            }

            function draw() {
                var canvas = document.getElementById("myCanvas");
                let w = canvas.width;
                let h = canvas.height;
                if (growth < 1.0) {
                    growth += (0.12) * (1.0-growth);
                }

                var ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, w, h);
                // ctx.fillStyle = "#FF0000";
                // ctx.fillRect(0, 0, 150, 75);

                ctx.font = "15px Arial";

                let l = w/3;
                let m = w/2;
                let r = 2*w/3;

                let t = h/6;
                let mt = h/3;
                let my = h/2;
                let mb = 2*h/3;
                let b = 5*h/6;

                ctx.beginPath();
                ctx.moveTo(m, t);
                ctx.lineTo(r, mt);
                ctx.lineTo(r, mb);
                ctx.lineTo(m, b);
                ctx.lineTo(l, mb);
                ctx.lineTo(l, mt);
                ctx.lineTo(m, t);
                ctx.strokeStyle = "#FFFFFF";
                ctx.fillStyle = "#EEEEEE";
                ctx.stroke();
                ctx.fill();

                ctx.moveTo(m, t);
                ctx.lineTo(m, b);
                ctx.moveTo(l, mt);
                ctx.lineTo(r, mb);
                ctx.moveTo(r, mt);
                ctx.lineTo(l, mb);
                ctx.lineWidth = 3;
                ctx.stroke();

                ctx.textAlign = "center";
                ctx.fillStyle = "#000000";
                let hpVal = document.getElementById("hp_stat").textContent
                ctx.fillText("HP " + hpVal, m, t - 10);

                ctx.textAlign = "left";
                let spAttackVal = document.getElementById("sp_attack_stat").textContent
                ctx.fillText("Sp. Atk " + spAttackVal, r + 5, mt - 5);

                ctx.textAlign = "left";
                let spDefenseVal = document.getElementById("sp_defense_stat").textContent
                ctx.fillText("Sp. Def " + spDefenseVal, r + 5, mb + 10);

                ctx.textAlign = "center";
                let speedVal = document.getElementById("speed_stat").textContent
                ctx.fillText("Speed " + speedVal, m, b + 15);

                ctx.textAlign = "right";
                let attackVal = document.getElementById("attack_stat").textContent
                ctx.fillText("Attack " + attackVal, l - 5, mt - 5);

                ctx.textAlign = "right";
                let defenseVal = document.getElementById("defense_stat").textContent
                ctx.fillText("Defense " + defenseVal, l - 5, mb + 10);
                
                let capStat = Math.max(hpVal, spAttackVal, spDefenseVal, speedVal, attackVal, defenseVal) * 1.25 / growth;
                ctx.strokeStyle = "rgba(100, 50, 225, 1.0)";
                ctx.fillStyle = "rgba(75, 25, 200, 0.5)";
                let hpPoint = getAlong(m, my, m, t, hpVal/capStat);
                ctx.beginPath();
                ctx.moveTo(hpPoint[0], hpPoint[1]);
                let spAttackPoint = getAlong(m, my, r, mt, spAttackVal/capStat);
                ctx.lineTo(spAttackPoint[0], spAttackPoint[1]);
                let spDefensePoint = getAlong(m, my, r, mb, spDefenseVal/capStat);
                ctx.lineTo(spDefensePoint[0], spDefensePoint[1]);
                let speedPoint = getAlong(m, my, m, b, speedVal/capStat);
                ctx.lineTo(speedPoint[0], speedPoint[1]);
                let defensePoint = getAlong(m, my, l, mb, defenseVal/capStat);
                ctx.lineTo(defensePoint[0], defensePoint[1]);
                let attackPoint = getAlong(m, my, l, mt, attackVal/capStat);
                ctx.lineTo(attackPoint[0], attackPoint[1]);
                ctx.lineTo(hpPoint[0], hpPoint[1]);
                ctx.stroke();
                ctx.fill();

                ctx.closePath();
            }

            function updateCanvas() {
                var box = document.getElementById("leftBox");
                var canvas = document.getElementById("myCanvas");
                canvas.width = box.offsetWidth;
                canvas.height = box.offsetWidth * 1/2;

                // set refresh rate
                return setInterval(draw, 30);
            }
            window.onload = updateCanvas();
        </script>
    </section>
    <!-- End of section -->

    </main>

{% endblock content %}